/* .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
 
  color: white;
  height: 52px;
} */
 /* background-color: #1b1515; */

/* .logo {
  margin-right: auto;
  margin-left:2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}
.nav_items {
  margin-right: 2rem;
} */

/* .header_right{
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
    flex: 0.3;
} */

/* .header_right > p{
    display: inline-block;
    margin-left: 50px;
} */
