
/* .App {
  text-align: center;
  background-color: #dbdbdb;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden !important;
}

a{
  text-decoration: none;
} */

